<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <img src="img/spotify.png" alt="">
  </header>
  <div id="root">
    <div class="cd" v-for="cd in cds">
      <div class="img">
        <img :src="cd.poster" alt="">
      </div>
      <div class="title">{{ cd.title }}</div>
      <div class="author">{{ cd.author }}</div>
      <div class="year">{{ cd.year }}</div>
    </div>
  </div>
  <footer>
    <label for="">Filtra per genere</label>
    <select class="select">
      <option value=""></option>
      <option value="rock" v-model="selezione">Rock</option>
      <option value="pop" v-model="selezione">Pop</option>
      <option value="jazz" v-model="selezione">Jazz</option>
      <option value="metal" v-model="selezione">Metal</option>
    </select>
  </footer>
  <script src="script.js" charset="utf-8"></script>
</body>
</html>
