* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  height: 90vh;
  background-color: #141B22;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
header {
  background-color: black;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}
header img {
  color: white;
  height: 45px;
  padding-left: 10px;
}

.cd {
  background-color: #344152;
  width: 160px;
  height: 250px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}
.cd .img {
  height: 104px;
}
.cd img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.cd .title {
  text-transform: uppercase;
  font-size: 20px;
  height: 80px;
  font-weight: bold;
  padding-top: 5px;
}
.cd .author {
  font-size: 17px;
  height: 28px;
}
.cd .year {
  font-size: 15px;
}
