* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #141B22;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}
header {
  background-color: black;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
header img {
  color: white;
  height: 45px;
}
header .filtro {

}
header .filtro select {
  padding: 6px 10px;
  border-radius: 18px;
  background-color: #1C1C1C;
  color: #929496;
  border: none;
}
header .filtro label {
  color: #929496;
}
.cd {
  background-color: #344152;
  width: 160px;
  height: 250px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.cd .img {
  height: 104px;
}
.cd img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.cd .title {
  text-transform: uppercase;
  font-size: 20px;
  height: 80px;
  font-weight: bold;
  padding-top: 5px;
}
.cd .author {
  font-size: 17px;
  height: 28px;
  color: white;
  opacity: 0.7;
}
.cd .year {
  font-size: 15px;
  color: white;
  opacity: 0.7;
}
label {
  align-self: flex-end;
  padding-right: 10px;
}
select {
  align-self: flex-end;
}
